<creature-heading>
<h1>Lizardfolk Shaman</h1>
<h2>Medium humanoid(lizardfolk), neutral</h2>
</creature-heading><top-stats>
<property-line>
<h4>Armor Class</h4>
<p>13 (['natural armor'])</p>
</property-line>
<property-line>
<h4>Hit Points</h4>
<p>27 (5d8 + 5)</p>
<property-line>
<h4>Speed</h4>
<p>30ft, swim 30ft</p>
</property-line>
</property-line></top-stats><abilities-block data-cha="8" data-con="13" data-dex="10" data-int="10" data-str="15" data-wis="15"></abilities-block><property-line>
<h4>Skills</h4>
<p>perception, stealth, survival</p>
</property-line>
<property-line>
<h4>Languages</h4>
<p>Draconic</p>
</property-line>
<property-line>
<h4>Challenge</h4>
<p>2</p>
</property-line>
<property-block>
<h4>Spellcasting (Lizardfolk Form Only)</h4>
<p>The lizardfolk is a 5th-level spellcaster. Its spellcasting ability is Wisdom (spell save {@dc 12}, {@hit 4} to hit with spell attacks). The lizardfolk has the following druid spells prepared:</p>
<p>Cantrips (at will): {@spell druidcraft}, {@spell produce flame}, {@spell thorn whip}</p><p>1st level (4 slots): {@spell entangle}, {@spell fog cloud}</p><p>2nd level (3 slots): {@spell heat metal}, {@spell spike growth}</p><p>3rd level (2 slots): {@spell conjure animals} (reptiles only), {@spell plant growth}</p></property-block><h3>Actions</h3><property-block>
<h4>Multiattack (Lizardfolk Form Only)</h4>
<p>The lizardfolk makes two attacks: one with its bite and one with its claws.</p>
</property-block><property-block>
<h4>Bite</h4>
<p>{@atk mw} {@hit 4} to hit, reach 5 ft., one target. {@h}5 ({@damage 1d6 + 2}) piercing damage, or 7 ({@damage 1d10 + 2}) piercing damage in crocodile form. If the lizardfolk is in crocodile form and the target is a Large or smaller creature, the target is {@condition grappled} (escape {@dc 12}). Until this grapple ends, the target is {@condition restrained}, and the lizardfolk can't bite another target. If the lizardfolk reverts to its true form, the grapple ends.</p>
</property-block><property-block>
<h4>Claws (Lizardfolk Form Only)</h4>
<p>{@atk mw} {@hit 4} to hit, reach 5 ft., one target. {@h}4 ({@damage 1d4 + 2}) slashing damage.</p>
</property-block><property-block>
<h4>Change Shape (Recharges after a Short or Long Rest)</h4>
<p>The lizardfolk magically polymorphs into a crocodile, remaining in that form for up to 1 hour. It can revert to its true form as a bonus action. Its statistics, other than its size, are the same in each form. Any equipment it is wearing or carrying isn't transformed. It reverts to its true form if it dies.</p>
</property-block>